body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0f2f1;
}

header {
  background-color: #0f172a;
  padding: 10px 20px;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}
.logo a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu li a {
  padding: 10px 0;
  display: inline-block;
}

.menu {
  display: flex;
  gap: 40px; /* spazio tra i due menù */
  justify-content: center;
  flex: 1; /* occupa tutto lo spazio disponibile */
  list-style: none;
  margin: 0;
  padding: 0;
}



.menu li {
  position: relative;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #1e293b;
  padding: 10px;
  list-style: none;
  top: 30px;
  left: 0;
  min-width: 180px;
  border-radius: 5px;
  z-index: 1000;
}

.submenu li {
  padding: 8px 10px;
  color: white;
  cursor: pointer;
}



.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ridotto da 300px a 250px per aumentare la larghezza */
  gap: 10px;
  padding: 10px;
}

.news-item {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px; /* Ridotto padding per altezza minore */
  position: relative;
  height: 250px; /* Altezza fissa più contenuta */
  overflow: hidden; /* Evita che il contenuto esca */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-category {  /*testo della categoria*/
  font-size: 0.6em;
  color: #0f172a;
  font-weight: bold;
  margin-bottom: 5px; /* Ridotto il margine */
}

.news-item h2 { /* testo del titolo*/
  margin: 5px 0;
  font-size: 0.9em;
  color: #0f172a;
}

.news-date { /* data della notizia */
  font-size: 0.70em;
  color: #64748b;
  margin-bottom: 5px;
}

.news-item p { /* testo anteprima della notizia */
  font-size: 0.8em;
  margin: 3px 0;
  flex-grow: 1;
}

.news-item a {
  text-decoration: none;
  color: #2563eb;
  font-weight: bold;
  font-size: 0.7em;
  margin-top: 10px;
}

.news-source {
  font-size: 0.70em;
  color: #475569;
  margin-top: 5px;
}
#source-filter {
  margin: 10px 20px;
  font-size: 0.9em;
  color: #0f172a;
  display: flex;
  align-items: center;
  gap: 10px;
}

#source-select {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #94a3b8;
  font-size: 0.9em;
}
